* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-x: none; /* ⛔ prevent bounce scroll on horizontal */
}


body {
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional */
}
